html, body, #next-slide, .box {
	height: 100%;
}

body {
	margin: 0em 0.2em 0em 0em;
}

.box {
	width: 100%;
	height: 99%;
	padding: 0 0 0 0;
	display: block;
	overflow:auto;
  background: rgba(245, 230, 255, 0.5);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	font-size: 2em;
}

.contingut{
	margin-left: 0.5%;
	margin-right: 0.5%;
	font-size: 2em;
	padding-left: 0.7em;
	width: 100%;
/*	
  animation-duration: 1s;
  animation-name: diapo;
*/
}

.slides {
	width: 40%;
	height: 40%;
}

/* List of slides at the top and bottom of slide {{{ */
.list-diapos-top .list-diapos-bottom {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	background: rgba(255, 255, 255, 255, 0);
}

.list-diapos-top {
	position: fixed;
	top: 0;
	left: 0;
}

.list-diapos-top p  {
	visibility:hidden;
}

.list-diapos-bottom p {
	visibility:hidden;
}

.list-diapos-top:hover p {
	visibility:visible;
	background-color: white; 
}

.list-diapos-bottom:hover p {
	visibility:visible;
	background-color: white; 
}
/* }}} */

h1 {
	word-break: break-all;
	text-align: center;
}

p {
}

video {
	margin-left: 0;
	width: 60%; 
	height: auto;
}

img {
    width: 100%;
    height: auto;
}

iframe {
	width: 100%;
	min-height: 20em;
}

@keyframes diapo {
		0% {position: absolute; top:  75%}
	 25% {position: absolute; top:  50%}
	 50% {position: absolute; top:  25%}
	 75% {position: absolute; top:  10%}
	100% {position: static}
}
